.search{
	margin-left: 46px;
}
.panel{
	border-width:0;
}
#Showpara{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara1{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara2{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara3{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara4{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara5{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara6{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara7{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara8{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara9{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara10{
	width:720px;
	display:none;
	margin-left: 14px;
}
#Showpara11{
	width:720px;
	display:none;
	margin-left: 14px;
}
